
/* Global */
html,body{
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header */

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header .navbar-dark .navbar-nav .nav-link{
    color: white;
}

#movieNavBar .navbar-nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#movieNavBar .nav-item::after{
    content: '';
    width: 0;
    height: 3px;
    display: block;
    /* trải màu */
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.25s;
}

#movieNavBar .nav-item:hover::after{
    width: 100%;
}

/* viet class lien nhau the hien la 1 class cho cao diem */
#movieNavBar .nav-item.active::after{
    width: 100%;
}

.container .navbar-toggler{
    border: none;
}

.container .navbar-toggler:focus{
    outline: none;
}

/* movieCarousel */

.movieCarousel .item1{
    background: url(../img/hero-1.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
}

.movieCarousel .item2{
    background: url(../img/hero-2.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
}

.movieCarousel .item3{
    background: url(../img/hero-3.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
}

#carouselMovie .carousel-caption{
    text-align: left;
    /* cách canh giữa */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#carouselMovie .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    /* transparent màu trong suốt */
    background-color: transparent;
    opacity: 1;
    /* bị lỗi c1 thì đổi thành background */
    /* c2 */
    background-clip: border-box;
}

#carouselMovie .carousel-indicators li.active{
    background-color: white;
}

#carouselMovie .carousel-indicators{
    justify-content: flex-start;
    left: 50%;
    transform: translateX(-50%) translateY(-700%);
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
}

#carouselMovie .btn-trailer{
    background: linear-gradient(to right,#fbbd61,#ec7532);
    border-radius: 200px;
    border: none;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 3px;
    /* bỏ viền khi ấn */
    outline: none;
}

/* lam den background */
#carouselMovie .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#000000,transparent);
}


/* new in */

.newIn{
    padding-top: 80px;
}

.newIn__title{
    font-size: 18px;
    letter-spacing: 2px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 15px;
    color: #ec7532;
    position: relative;
    margin-bottom: 40px;
}

.newIn__title::after{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
}

.newIn__info{
    position: relative;
    border-radius: 10px;
    /* k bi che */
    overflow: hidden;
}

.newIn__info:hover .newIn__detail{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.newIn__detail{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    /*visibility giong opactity */
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.5s;
}

.newIn__detail i{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    /* can icon ra giua vong */
    text-align: center;
    line-height: 80px;
    display: block;
    margin: 0 auto;
}

.newIn__detail a{
    color: white;
    letter-spacing: 3px;
    font-size: 14px;
    margin: 10px 0;
    display: block;
}

.newIn__detail p{
    color: white;
}

.newIn__item__title{
    text-align: center;
    font-size: 18px;
    margin: 10px;
    color: #4a4a4a;
} 

.newIn__item__rating{
    color: #fbbd61;
    text-align: center;
    font-size: 15px;
}

.newIn__overlay{
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: -100px;
    /* tao hinh binh hanh */
    transform: skewX(30deg);
    transition: all 0.8s;
    opacity: 0.9;
}

.newIn__info:hover .newIn__overlay{
    width: 250%;
}

/* show time */

.showTimes .nav-tabs .nav-link.active{
    border-color: white;
}

.showTimes .nav-tabs .nav-link{
    border: none;
}

.showTimes .nav-tabs .nav-link:focus{
    text-decoration: underline;
    text-decoration-color: #ec7532;
    color: #ec7532;
}

.showTimes .nav-tabs .nav-link.active{
    color: #ec7532;
}

.showTimes .nav-tabs .nav-link::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.3s;
}

.showTimes .nav-tabs .nav-link.active::after,
.showTimes .nav-tabs .nav-link:hover::after{
    width: 100%;
}

.showTimes .nav-link{
    color: #4a4a4a;
    padding: 10px 25px;
    position: relative;
}

.showTimes .nav-tabs .nav-link:hover{
    border-bottom: 1px solid #d8d8d8;
    border-color: white;
    text-decoration: none;
}

.showTimes__movie img{
    border-radius: 10px;
}

.showTimes__list{
    color: #717171;
}

.showTimes__detail > span{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;
}

.showTimes__detail > h1{
    font-size: 26px;
    letter-spacing: 1px;
}

.showTimes__detail > p{
    font-size: 16px;
    color: #717171;
}

.showTimes__detail > a{
    font-size: 12px;
    color: #ec7532;
    letter-spacing: 3px;
    text-decoration: none;
    transition: all 0.5s;
}

.showTimes__detail a:hover{
    color: #101010;
}

.showTimes__list i, .showTimes__list span{
    font-size: 14px;
    color: #4a4a4a;
}

.showTimes__list .btn{
    letter-spacing: 2px;
    color: #717171;
    border-radius: 5px;
    background-color: #d8d8d8;
}

.showTimes__list .btnop{
    opacity: 0.5;
}

.showTimes__length span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

/* comming */

.comingSoon{
    background-color: black;
    color: white;
}

.coming__bg{
    padding: 80px 0;
    background-image: url(../img/slide-3.png);
    background-size: cover;
    background-position: center center;
}

.coming__title{
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 40px;
}

.coming__title::after{
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
}

.coming__detail > span{
    color: #ec7532;
}

.coming__detail p > i{
    color: #fbbd61;
}

.coming__detail > a{
    font-size: 12px;
    color: #ec7532;
    letter-spacing: 3px;
    text-decoration: none;
    transition: all 0.5s;
}

.coming__detail a:hover{
    color: #fbbd61;
}

.coming__trailer img{
    position: relative;
}

.coming__trailer .coming__play{
    width: 84px;
    height: 84px;
    display: block;
    border: 2px solid #ec7532;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 84px;
    position: absolute;
    top: 40%;
    left: 45%;
    transition: all 0.5s;
}

.coming__trailer:hover .coming__play{
    transform: scale(0.9);
}

.coming__play:focus{
    outline: none;
}

.coming__list{
    text-align: center;
}

.coming__item img{
    border-radius: 10px;
    padding-bottom: 25px;
}

.coming__item{
    padding-top: 50px;
}

.coming__btn{
    opacity: 0.5;
    transition: all 0.5s;
    color: white;
    background-color: black;
    border: none;
}

.coming__btn p{
    font-size: 14px;
    opacity: 0.5;
}

.coming__btn:hover,
.coming__btn:focus{
    opacity: 1;
    outline: none;
}

/* video */
.modal-content button{
    background-color: black;
    color: white;
    font-size: 30px;
    outline: none;
    border: none;
    width: 25px;
    right: -699px;
    position: relative;
}

.modal-content iframe{
    position: relative;
    right: 150px;
}

.modal-content {
    background-color: transparent;
    border: none;
}

/* contact */

.contact{
    height: 180px;
    text-align: center;
}

.contact p{
    padding-top: 50px;
    font-size: 22px;
    color: #4a4a4a;
}

.contact h1{
    color: #fbbd61;
}

/* footer */

footer{
    background-color: #101010;
    height: 300px;
    font-size: 14px;
}

footer ul{
    list-style: none;
    padding: 20px 0;
}

footer a i{
    color: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    transition: all 0.5s;
}

footer a{
    color: white;
    transition: all 0.5s;
}

li:hover a,
li:hover i{
    color: #fbbd61;
    text-decoration: none;
}

footer h6{
    color: #ec7532;
    font-size: 16px;
    padding-top: 70px;
    letter-spacing: 1.5px;
}

footer p{
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 20px 0;
    color: white;
    transition: all 0.5s;
}

footer .web:hover{
    color: #ec7532;
    text-decoration: none;
}

/* responsive */
/* .col- <576px ; .col-sm- >= 576px */
/* .col-md- >= 768px ; .col-lg- >= 992px ; .col-xl- >=1k2*/


@media screen and (max-width:1200px){

}

@media screen and (max-width:991px){
    .header .navbar-nav{
        background-color: black;
        text-align: center;
    }   
    .header .navbar-dark .navbar-nav .home{
        color: #ec7532;
    }

    .modal-content iframe{
        width: 560px;
        height: 316px;
        left: 40px;
        top: 60px;
    }

    .modal-content button{
        right: -600px;
    }

}

@media screen and (max-width:768px){
    .coming__trailer img{
        width: 450px;
        height: 271px;
    }

    .modal-content iframe{
        width: 530px;
        height: 298px;
        left: 10px;
        top: 60px;
    }

    .modal-content button{
        right: -520px;
    }

    #carouselMovie .carousel-caption {
        transform: translate(-50%,-70%);
    }

}

@media screen and (max-width:576px){
    .header .text-white,
    .header .navbar,
    .container{
        width: 450px;
    } 

    .modal-content iframe{
        width: 420px;
        height: 236px;
        left: 40px;
        top: 60px;
    }

    .modal-content button{
        right: -450px;
    }

    #carouselMovie .carousel-indicators {
        transform: translateX(-50%) translateY(-500%);
    }

}




